<h2> <%user = User.find_by_slug(slug)%> <%=user.username%> tweets: <h2>

<%user.tweets.each do |tweet| %>
<%= tweet.content%>
  <!-- <a href= "/tweets/<%=tweet.id%>/edit" value = <%= tweet.content%> </a> -->
<%end%>
