<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Fwitter</h1>

      <%=yield%>

    </div>

  </body>
</html>

<!--<form action="/logout" method="post">-->
<!--  Logout?-->
<!--  <input type="submit" name="logout" >-->
<!--</form>-->
